html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.author-info {
  /* width: 70vw; */
  min-width: fit-content;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-grey,
.header-main {
  margin: 8px;
  font-size: 12px;
}

.header-grey {
  color: grey;
  font-style: italic;
}

.header-main {
  font-weight: 600;
}

.header {
  margin: 15px 8px 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selfie {
  border-radius: 30px;
  height: 8vh;
  width: 9vw;
}

.article-title {
  font-size: 5vw;
  padding: 12px;
  font-weight: 600;
  margin-top: 10vh;
  width: 100%;
}

.article-text {
  text-align: left;
  margin: 20px;
  width: 90%;
}

.sign-in-btn {
  border-radius: 20px;
  font-size: 10px;
  border: .5px solid black;
  background-color: white;
  width: 50px;
  padding: 3px 0 3px 0;
}

.rick-rolled-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  margin: 5vh;
  width: 90%;
}

iframe {
  width: 100%;
  height: 40vh;
}

.explaination-text {
  margin: 5px;
  text-align: left;
  font-size: 18px;
}

.portfolio-btn,
.continue-reading-btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px 10px 0;
  text-align: center;
}

.portfolio-btn {
  padding: 12px 40px;
}

.continue-reading-btn {
  width: 250px;
}

.portfolio-btn:active,
.continue-reading-btn:active,
.sign-in-btn:active {
  transform: translate(2px, 2px);
}

.continue-reading-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.OAuth-container {
  height: 30vh;
  margin-top: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.provider-btn {
  background-color: rgb(23, 108, 245);
  color: white;
  border: none;
  margin: 10px;
  width: 200px;
  height: 20px;
}

.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
}